@import url('https://fonts.cdnfonts.com/css/bw-modelica-ss01');
*{
    font-family: 'Bw Modelica SS01', sans-serif;
}
body{
margin:0;
}
.logo img{
    margin-left:35px;
    height:30px;
}
.menu_link img{
    height:15px;
}
.header{
    width:100%;
    position: fixed;
    top:120px;
    height:100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid rgba(0, 0, 0, 0.212);
    background-color: #fff;
    z-index: 3;
}
.menu{
    display: flex;
    justify-content:space-between;
    width:800px;
}
.menu_link{
    font-weight: 600;
}
.menu_link:hover{
    color:#c9c9c9;
    cursor: pointer;
}
.signup{
    margin-right:35px;
    font-size:15px;
    padding:11px;
    padding-left:28px;
    padding-right:20px;
    border-radius:20px;
    border:2px solid rgba(255, 145, 0, 0.76);
    color: #797575;
    font-weight: 600;
    cursor: pointer;
}
.signup:hover{
    background-image:linear-gradient(180deg,#ff8113,#ff604d);
    color:black;
}
.advert{
    width:100%;
    height:120px;
    text-align: center;
    margin-top:100px;
}
.block{
}
.advert img{
object-fit: cover;
margin-top:12px;
margin-bottom:12px;
}
.size{
    width:70%;
    margin:0 auto;
}
.main_cover{
    background-color: #e5e5e5;
    height: 175vh;
}
.main_header_wrap{
    display: flex;
    justify-content: space-between;
}
.title{
    margin-top: 35px;
    font-size:55px;
    font-weight: 700;
    margin-bottom:20px;
}
.under{
   color:#707070;
   font-size:  18px;
   font-weight: 700;
   margin-bottom:35px;
}
.season_block{
    width:250px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    border:1px solid rgba(0, 0, 0, 0.226);
    padding:20px;
    border-radius:12px;
    align-items: center;
    font-weight:700;
    color:#63626e;
    margin-top:30px;
}
.season_block img{
    height: 14px;
}
.teams_wrapper{
margin-top:40px;
display:flex;
flex-flow:wrap;
}
.teams_block{
display:flex;
width:315px;
height:100px;
background-color: #fff;
border-radius: 12px;
margin-right:18px;
margin-bottom:20px;
transition: 0.15s;
}
.teams_block:hover{
    transform: scale(1.07);
}
.logo_name{
    align-items: center;
    display:flex;
    margin-top:14px;
    font-size:14px;
    font-weight: 600;
}
.logo_name img{
    height: 60px;
    margin-right:28px;
    margin-left:10px;
}
.line_alba{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 35px 0 0;
    border-color: #f8d347 transparent transparent transparent;
    border-radius: 4px;
    border-bottom-left-radius: 10px;
}
.line_efes{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 35px 0 0;
    border-color: #0f2c70 transparent transparent transparent;
    border-radius: 4px;
    border-bottom-left-radius: 10px;
}
.line_monaco{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 35px 0 0;
    border-color: #d0382b transparent transparent transparent;
    border-radius: 4px;
    border-bottom-left-radius: 10px;
}
.line_baskonia{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 35px 0 0;
    border-color: #10213e transparent transparent transparent;
    border-radius: 4px;
    border-bottom-left-radius: 10px;
}
.line_zvezda{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 35px 0 0;
    border-color: #d63832 transparent transparent transparent;
    border-radius: 4px;
    border-bottom-left-radius: 10px;
}
.line_milano{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 35px 0 0;
    border-color: #cf3b2c transparent transparent transparent;
    border-radius: 4px;
    border-bottom-left-radius: 10px;
}
.line_barca{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 35px 0 0;
    border-color: #133380 transparent transparent transparent;
    border-radius: 4px;
    border-bottom-left-radius: 10px;
}
.line_bayern{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 35px 0 0;
    border-color: #cf343e transparent transparent transparent;
    border-radius: 4px;
    border-bottom-left-radius: 10px;
}
.line_fener{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 35px 0 0;
    border-color: #fcee4f transparent transparent transparent;
    border-radius: 4px;
    border-bottom-left-radius: 10px;
}
.line_asvel{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 35px 0 0;
    border-color: #929292 transparent transparent transparent;
    border-radius: 4px;
    border-bottom-left-radius: 10px;
}
.line_maccabi{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 35px 0 0;
    border-color: #fdf150 transparent transparent transparent;
    border-radius: 4px;
    border-bottom-left-radius: 10px;
}
.line_oly{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 35px 0 0;
    border-color: #c02a2a transparent transparent transparent;
    border-radius: 4px;
    border-bottom-left-radius: 10px;
}
.line_panata{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 35px 0 0;
    border-color: #306f3b transparent transparent transparent;
    border-radius: 4px;
    border-bottom-left-radius: 10px;
}
.line_partizan{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 35px 0 0;
    border-color: #1d1d1b transparent transparent transparent;
    border-radius: 4px;
    border-bottom-left-radius: 10px;
}
.line_real{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 35px 0 0;
    border-color: #1c4891 transparent transparent transparent;
    border-radius: 4px;
    border-bottom-left-radius: 10px;
}
.line_valencia{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 35px 0 0;
    border-color: #ed7532 transparent transparent transparent;
    border-radius: 4px;
    border-bottom-left-radius: 10px;
}
.line_virtus{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 35px 0 0;
    border-color: #1d1d1b transparent transparent transparent;
    border-radius: 4px;
    border-bottom-left-radius: 10px;
}
.line_zalgiris{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 35px 0 0;
    border-color: #316d43 transparent transparent transparent;
    border-radius: 4px;
    border-bottom-left-radius: 10px;
}
.second_advert{
    margin-top:15px;
    text-align: center;
    margin-bottom:15px;
}
.logo_sec{
    margin-left:30px;
    margin-right:250px;
    filter:invert(0.3);
}
.logo_sec img{
    height: 60px;
}
.new_cover{
    transform: skewY(-4deg);
    transform-origin: top right;
height: 800px;
background-color: #1b1b1e;
}
.new_cover_size{
    margin:0 auto;
    width:80%;
}
.new_cover_wrap{
    padding-top: 150px;
    display:flex;
    align-items: flex-end;
    transform: skewY(5deg);
    transform-origin: top right;
 }
.tabela_sponzor{
    color:white;
}
.ikonka img{
    height: 50px;
}
.ikonka1 img{
    height:50px;
}
.ikonka2 img{
    filter:invert(1);
    height:50px;
}
.ikonka3 img{
    height:50px;
}
.ikonka4 img{
    filter:invert(2);
    height:50px;
}
.ikonka5 img{
    filter:invert(1);
    height:50px;
}
.ikonka6 img{
    filter:invert(1);
    height:50px;
}
.ikonka7 img{
    height:50px;
}
.ikonka{
    padding:10px;
    width: 260px;
    text-align: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.ikonka1{
    padding:10px;
    width: 260px;
    text-align: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.ikonka2{
    padding:10px;
    width: 260px;
    text-align: center;
    border-right: 1px solid black;
}
.ikonka3{
    padding:10px;
    width: 260px;
    text-align: center;
    border-right: 1px solid black;
}
.ikonka4{
    padding:10px;
    width: 260px;
    text-align: center;
    border-right: 1px solid black;
}
.ikonka5{
    padding:10px;
    width: 260px;
    text-align: center;
    border-left:1px solid black ;
    border-right: 1px solid black;
}
.ikonka6{
    padding:10px;
    width: 260px;
    text-align: center;
    border-right: 1px solid black;
}
.ikonka7{
    padding:10px;
    width: 260px;
    text-align: center;
    border-right: 1px solid black;
}
table{
    height: 530px;
    border-collapse: separate;
    border-spacing: 0 30px;
}
table td{
    text-align: center;
   font-size:20px; 
   width:400px;
  }
.footer{
    background-color: #050505;
    height: 550px;
    width:100%;
    position: absolute;
    
}
.size_footer{
    width:80%;
    margin:0 auto;
}
.footer_wrapper{
    color: white;
    display:flex;
    justify-content: space-between;
    padding-top:70px;
    margin-left:89px;
    width:80%;
}
.footer_title{
    margin-bottom:25px;
    font-size:18px;
    font-weight: 700;
    cursor: pointer;
}
li{
    margin-bottom:12px;
    list-style-type: none;
    font-weight: 500;
    cursor: pointer;
}
.header_prv{
    background-color: black;
    height: 60px;
    display:flex;
    align-items: center;
}
.prv_wrapper{
    padding-left:400px;
}
.prv_wrapper img{
height: 35px;
margin-right:22px;
filter:grayscale(100%);
}
.prv_wrapper img:hover{
filter:grayscale(0%);
cursor: pointer;
}
hr{
    margin-top:20px;
}
.size_rights{
    width:80%;
    margin: 0 auto;
}
.rights{
    height:120px;
    padding-top:10px;
}
.rights_wrapper{
    height: 120px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.rights_reserved{
    font-weight: 600;
    color: white;
}
.desna_strana_rights{
    display: flex;
    justify-content: space-between;
    width:800px;
    color:white;
    font-weight: 500;
}
.desna_strana_rights a{
    text-decoration: none;
    color:#8776ee;
}
.itemki img{
    height:25px;
    filter:invert(1);
}
.grey_area{
    background-color: #1b1b1e;
    height: 120px;
}
.header_vtor{
    height: 60px;
    background-color: #f2f2f2;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.lev_del{
    display:flex;
    justify-content: space-between;
    width:600px;
    padding-left:20px;
    }
.sponzori img{
    height: 25px;
    margin-left:10px;
}
.sponzori{
    font-size:15px;
    display: flex;
    filter: grayscale(100%);
}
.sponzori:hover{
    filter: grayscale(0%);
    }
.desen_del{
    display:flex;
    justify-content: space-between;
    width:600px;
    padding-right:20px;
    }
.sponzori2 img{
    height: 20px;
}
.sponzori2{
    font-size:15px;
    cursor: pointer;
}
.sponzori2:hover{
    font-weight: 600;
}
.sponzori2_1 img{
    height: 20px;
}
.sponzori2_1{
    display: flex;
    font-weight: 600;
}
